@import 'mixins';
@import 'variables';

h4#turnIndicator {
  margin-bottom: 10px;
}

span#curPlayer {
  @include mono-highlight(22px);
}

div#discard-top {
  display: flex;
  justify-content: center;
}
