@import 'variables';

$code-background-color: #e1e1e1;

span.code {
  font-size: 14px;
  font-family: monospace;
  background-color: $code-background-color;
  padding: 1px 5px;
}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}
