@import 'mixins';
@import 'variables';

span.code {
  @include mono-highlight(14px);
}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

li.player {
  font-size: 16px;
}

h5#players {
  margin-bottom: 10px;
}
