$body-colour: white;
$gray: #e1e1e1;
$inter-font-stack: 'Inter', system-ui, sans-serif;
$mono-font-stack: monospace;
$mono-background-color: $gray;
$card-red: #ff6b6b;
$card-yellow: #feca57;
$card-green: #badc58;
$card-blue: lighten(#686de0, 10%);
