@import '~normalize.css/normalize';
@import '~skeleton-css/css/skeleton';

@import 'variables';

body {
  color: $body-colour;
  margin-top: 10%;
}

h1 {
  font-family: $inter-font-stack;
  margin-bottom: 10px;
}

.text-centre {
  text-align: center;
}

.text-centre-vert {
  padding-top: 30px;
  padding-bottom: 30px;
}

.modal {
  position: fixed;
  width: 75%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -70%);

  background-color: white;
  border: 1px solid $gray;
  border-radius: 1px;

  padding: 10px;

  &.show {
    display: block;
  }

  &.hide {
    display: none;
  }
}
