@import 'variables';

div.card {
  position: relative;

  width: 120px;
  height: 200px;

  margin: 5px;

  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 25px;
  font-size: 2.5em;

  user-select: none;
  cursor: pointer;
  white-space: nowrap;

  &.disabled {
    cursor: not-allowed;

    &.hand {
      background-color: darken(white, 15%);
    }
  }

  & > .card-content {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

.number {
  position: relative;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 200px;
}

span.colour {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 200px;
  border-radius: 25px;  

  &.red {
    background-color: $card-red;
  }

  &.yellow {
    background-color: $card-yellow;
  }

  &.green {
    background-color: $card-green;
  }

  &.blue {
    background-color: $card-blue;
  }
}
@media only screen and (max-width: 767px) {
  div.card {
    position: relative;
  
    width: 50px;
    height: 50px;
  
    margin: 5px;
  
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
    font-size: 1.5em;
  
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
  
    &.disabled {
      cursor: not-allowed;
  
      &.hand {
        background-color: darken(white, 15%);
      }
    }
  
    & > .card-content {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .number {
    position: relative;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
  }
  
  span.colour {
    display: inline-block;
  
    width: 50px;
    height: 50px;
  
    border-radius: 15px;
  
    &.red {
      background-color: $card-red;
    }
  
    &.yellow {
      background-color: $card-yellow;
    }
  
    &.green {
      background-color: $card-green;
    }
  
    &.blue {
      background-color: $card-blue;
    }
  }
}