@import 'mixins';
@import 'variables';

h4#turnIndicator {
  margin-bottom: 10px;
}

span#curPlayer {
  @include mono-highlight(22px);
}

div#discard-top {
  display: inline-flex;
  justify-content: center;

  width: 66%;
}
.deck {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRc7SRgvG3kBaStqCGfDEyvMtap106JlqEmWes5AHLmv-njFd9f&usqp=CAU);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}