@import 'mixins';
@import 'variables';

h4#turnIndicator {
  margin-bottom: 10px;
}

span#curPlayer {
  @include mono-highlight(22px);
}

div#discard-top {
  display: inline-flex;
  justify-content: center;

  width: 66%;
}

div#players {
  display: inline-block;
  width: 33%;

  border-left: 1px solid $gray;

  & > h5 {
    font-size: 2rem;
  }

  & > ul > li.current {
    font-weight: bold;
  }
}
