div#players {
  display: inline-block;
  width: 33%;

  & > h5 {
    font-size: 2rem;
  }

  & > ul > li {
      li {
        border: 1px;
        border-style: double;
    }   
  }

  & > ul > li {
    &.current {
      font-weight: bold;
      background: black;
    }

    & > span.name {
      display: block;
      margin-bottom: 0;
    }
  }
}
